{% extends "base.html" %} {% block contents %} {% load static %}
<!-- TopBar -->
{% include "snippets/topbar.html" %}
<!-- Navbar & Carousel Start -->
{% include "snippets/navbar.html" %}

<!-- Spinner Start -->
<div
  id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner"></div>
</div>
<!-- Spinner End -->

<div class="container-fluid bg-primary bg-header" style="margin: bottom 0px">
  <div class="row py-5">
    <div class="">
      <!-- Ganti display-4 menjadi display-5 atau display-6 untuk lebih kecil -->
      <h1 class=""></h1>
      <!-- <a href="" class="h5 text-white">Home</a>
      <i class="far fa-circle text-white px-2"></i>
      <a href="" class="h5 text-white">Blog Grid</a> -->
    </div>
  </div>
</div>

<!-- Quote Start -->
<div class="container-fluid py-5" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5 justify-content-center">
      <div class="col-lg-7 mx-auto text-center">
        <div class="section-title position-relative pb-3 mb-5">
          <h5 class="fw-bold text-primary text-uppercase">
            Request Reset Password
          </h5>
          <h1 class="mb-0">password settings have been sent</h1>
        </div>
        <div class="row gx-3 justify-content-center">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
            <h5 class="mb-4">
              <i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours
            </h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
            <h5 class="mb-4">
              <i class="fa fa-phone-alt text-primary me-3"></i>24 hrs telephone
              support
            </h5>
          </div>
        </div>
        <p class="mb-4">
          kami telah mengirimkan petunjuk untuk mengirimkan kata sandi anda
          melalui email, jika ada akun dengan email yang anda masukan. Anda akan
          segera menerimanya.
        </p>
        <p>
          Jika anda tidak menerima email, pastikan anda telah memasukan email
          yang anda daftarkan, dan periksa folder spam anda
        </p>
        <div
          class="d-flex align-items-center justify-content-center mt-2 wow zoomIn"
          data-wow-delay="0.6s"
        >
          <div
            class="bg-primary d-flex align-items-center justify-content-center rounded"
            style="width: 60px; height: 60px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="mb-2">Call to ask any question</h5>
            <h4 class="text-primary mb-0">+012 345 6789</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Quote End -->

{% endblock contents %}
