{% extends "base.html" %} {% block contents %} {% load static %}
<!-- TopBar -->
{% include "snippets/topbar.html" %}
<!-- Navbar & Carousel Start -->
{% include "snippets/navbar.html" %}

<div
  class="container-fluid bg-primary py-5 bg-header"
  style="margin-bottom: 90px"
>
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">{{title}}</h1>
      <a href="" class="h5 text-white">Home</a>
      <i class="far fa-circle text-white px-2"></i>
      <a href="" class="h5 text-white">Blog Grid</a>
    </div>
  </div>
</div>

<!-- Navbar & Carousel End -->

<!-- Spinner Start -->
<div
  id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner"></div>
</div>
<!-- Spinner End -->

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn bg-white btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px">
          <input
            type="text"
            class="form-control bg-transparent border-primary p-3"
            placeholder="Type search keyword"
          />
          <button class="btn btn-primary px-4">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Full Screen Search End -->

<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-8">
        <!-- Blog Detail Start -->
        <div class="mb-5">
          <img
            class="img-fluid w-100 rounded mb-5"
            src="{{detail_article.images.url}}"
            alt="{{detail_article.title}}"
            style="height: 500px; width: 100%"
          />
          <h1 class="mb-4">{{detail_article.title}}</h1>
          <p>{{detail_article.fill}}</p>
        </div>
        <!-- Blog Detail End -->

        <!-- Comment List Start -->
        <div class="mb-5">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">{{comments.count}} Comments</h3>
          </div>
          {% for comment in comments %}
          <!-- reply -->
          <div class="d-flex mb-4">
            <img
              src="{{comment.user.img_user.url}}"
              class="img-fluid rounded"
              style="width: 45px; height: 45px"
            />
            <div class="ps-3">
              <h6>
                <a href="">{{comment.user.name}}</a>
                <small><i>{{comment.timestamp}}</i></small>
              </h6>
              <p>{{comment.comments}}</p>

              <form method="post">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="comment_slug"
                  value="{{comment.id}}"
                />
                {{form.comments}} {% if request.user.is_authenticated %}
                <button class="mt-2 btn btn-primary btn-sm" type="submit">
                  Balas komentar
                </button>
                {% else %}
                <button
                  class="disabled mt-2 btn btn-primary btn-sm"
                  type="submit"
                >
                  Balas komentar
                </button>
                {% endif %}
              </form>

              <!-- reply -->
              {% for reply in comment.replies.all %}
              <div class="d-flex ms-5 mb-4">
                <img
                  src="{{reply.user.img_user.url}}"
                  class="img-fluid rounded"
                  style="width: 45px; height: 45px"
                />
                <div class="ps-3">
                  <h6>
                    <a href="">{{reply.user.name}}</a>
                    <small><i>{{comment.timestamp}}</i></small>
                  </h6>
                  <p>{{reply.reply}}</p>
                  <button class="btn btn-sm btn-light"></button>
                </div>
              </div>
              {% endfor %}
              <!-- reply end -->
              <!-- form reply -->

              <button class="btn btn-sm btn-light">Reply</button>
            </div>
          </div>

          {% endfor %}
          <!-- reply -->
        </div>
        <!-- Comment List End -->

        <!-- Comment Form Start -->
        <div class="bg-light rounded p-5">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Leave A Comment</h3>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-12">{{form.comments}}</div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Leave Your Comment
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- Comment Form End -->
      </div>

      <!-- Sidebar Start -->
      <div class="col-lg-4">
        <!-- Search Form Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div class="input-group">
            <input type="text" class="form-control p-3" placeholder="Keyword" />
            <button class="btn btn-primary px-4">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <!-- Search Form End -->

        <!-- Category Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Categories</h3>
          </div>
          <div class="link-animated d-flex flex-column justify-content-start">
            <a
              class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
              href="/blog/"
              ><i class="bi bi-arrow-right me-2"></i>All</a
            >
            {% for category in categories %}
            <a
              class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2"
              href="/blog/category/{{category.slug_category}}/"
              ><i class="bi bi-arrow-right me-2"></i
              >{{category.slug_category}}</a
            >
            {% endfor %}
          </div>
        </div>
        <!-- Category End -->

        <!-- Recent Post Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Recent Post</h3>
          </div>
          {% for recent in others_article %} {% if forloop.counter > 8 %} {%
          break %} {% endif %}
          <div class="d-flex rounded overflow-hidden mb-3">
            <img
              class="img-fluid"
              src="{{recent.images.url}}"
              style="width: 100px; height: 100px; object-fit: cover"
              alt=""
            />
            <a
              href="/blog/detail/{{recent.slug_article}}"
              class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0"
              >{{recent.title}}
            </a>
          </div>
          {% endfor %}
        </div>
        <!-- Recent Post End -->

        <!-- Image Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <img src="img/blog-1.jpg" alt="" class="img-fluid rounded" />
        </div>
        <!-- Image End -->

        <!-- Tags Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Tag Cloud</h3>
          </div>
          <div class="d-flex flex-wrap m-n1">
            {% for tags in tags %}
            <a href="/blog/tags/{{tags.slug}}/" class="btn btn-light m-1"
              >{{tags}}</a
            >
            {% endfor %}
          </div>
        </div>
        <!-- Tags End -->

        <!-- Plain Text Start -->
        <div class="wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Plain Text</h3>
          </div>
          <div class="bg-light text-center" style="padding: 30px">
            <p>
              Vero sea et accusam justo dolor accusam lorem consetetur, dolores
              sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor
              magna takimata, amet sit et diam dolor ipsum amet diam
            </p>
            <a href="" class="btn btn-primary py-2 px-4">Read More</a>
          </div>
        </div>
        <!-- Plain Text End -->
      </div>
      <!-- Sidebar End -->
    </div>
  </div>
</div>
<!-- Blog End -->

<!-- Vendor Start -->
{% include "snippets/vendor.html" %}
<!-- Vendor End -->

<!-- Footer Start -->
{% include "snippets/footer.html" %}
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>

{% endblock contents %}
