{% load static %}
<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
    <a href="index.html" class="navbar-brand p-0">
      <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Startup</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    {% if request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a
          href="{% url 'index' %}"
          class="{% if request.resolver_match.url_name == 'index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >Home</a
        >
        <a
          href="{% url 'about:about_index' %}"
          class="{% if request.resolver_match.url_name == 'about_index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >About</a
        >
        <a
          href="{% url 'blog:blog_index' %}"
          class="{% if request.resolver_match.url_name == 'blog_index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >Blog</a
        >
        <a
          href="{% url 'contact:contact_index' %}"
          class="{% if request.resolver_match.url_name == 'contact_index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >Contact</a
        >
        <div class="nav-item dropdown">
          <a
            href="{% url 'account:profile' %}"
            class="{% if request.resolver_match.url_name == 'profile' %}nav-item nav-link dropdown-toggle active{% else %}nav-item nav-link dropdown-toggle{% endif %}"
            data-bs-toggle="dropdown"
            >{{request.user.email}}</a
          >
          <div class="dropdown-menu m-0">
            <a href="{% url 'account:profile' %}" class="dropdown-item"
              >Profile</a
            >
            <a href="{% url 'account:password_change' %}" class="dropdown-item"
              >Change Password</a
            >
          </div>
        </div>
      </div>

      <a href="/accounts/logout" class="btn btn-danger py-2 px-4 ms-3"
        >Log out</a
      >

      {% else %}

      <div class="navbar-nav ms-auto py-0">
        <a
          href="{% url 'index' %}"
          class="{% if request.resolver_match.url_name == 'index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >Home</a
        >
        <a
          href="{% url 'about:about_index' %}"
          class="{% if request.resolver_match.url_name == 'about_index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >About</a
        >
        <a
          href="{% url 'blog:blog_index' %}"
          class="{% if request.resolver_match.url_name == 'blog_index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >Blog</a
        >
        <a
          href="{% url 'contact:contact_index' %}"
          class="{% if request.resolver_match.url_name == 'contact_index' %}nav-item nav-link active{% else %}nav-item nav-link{% endif %}"
          >Contact</a
        >
      </div>
      <a href="{% url 'account:login' %}" class="btn btn-primary py-2 px-4 ms-3"
        >Login</a
      >

      {% endif %}
    </div>
  </nav>
</div>
